<div class="wrapper">
  <h1 class="title">Star Wars Game</h1>
  <app-counter />
  <div class="board">
    <div class="board__half">
      @if (cardLeft()) {
      <app-card
        [properties]="cardLeft()!"
        [isWinner]="(currentWinner$ | async) === 'left'"
      />
      } @else {
      <div class="placeholder" data-test="card-placeholder">Card A</div>
      }
    </div>
    <div class="board__separator"></div>
    <div class="board__half">
      @if (cardRight()) {
      <app-card
        [properties]="cardRight()!"
        [isWinner]="(currentWinner$ | async) === 'right'"
      />
      } @else {
      <div class="placeholder" data-test="card-placeholder">Card B</div>
      }
    </div>
  </div>
  <div class="settings">
    <app-resource-switch
      [resourceType]="resourceType()"
      (valueChanged)="handleResourceTypeChanged($event)"
    />
    <button
      mat-flat-button
      aria-label="Draw cards"
      (click)="drawCards()"
      data-test="draw-cards-button"
    >
      Draw cards
      <mat-icon aria-hidden="false" aria-label="Edit icon"
        >play_circle_field</mat-icon
      >
    </button>
  </div>
</div>
