<div class="wrapper">
  <h1 class="title">{{ uiTexts.title }}</h1>
  <app-counter />
  <div class="board">
    <div class="board__half">
      @if (cardLeftData()) {
      <app-card
        [properties]="cardLeftData()!"
        [isWinner]="currentWinner() !== 'right'"
      />
      } @else {
      <div class="placeholder" data-test="card-placeholder">
        {{ uiTexts.cardA }}
      </div>
      }
    </div>
    <div class="board__separator"></div>
    <div class="board__half">
      @if (cardRightData()) {
      <app-card
        [properties]="cardRightData()!"
        [isWinner]="currentWinner() !== 'left'"
      />
      } @else {
      <div class="placeholder" data-test="card-placeholder">
        {{ uiTexts.cardB }}
      </div>
      }
    </div>
  </div>
  <div class="settings">
    <app-resource-switch />
    <button
      mat-flat-button
      aria-label="Draw cards"
      (click)="drawCards()"
      data-test="draw-cards-button"
    >
      {{ uiTexts.drawCardsButton }}
      <mat-icon aria-hidden="false" aria-label="Edit icon"
        >play_circle_field</mat-icon
      >
    </button>
  </div>
</div>
