.card
    min-width: 260px

    &__header
        padding-bottom: 24px

    &__table
        width: 100%

    &__table-header
        font-weight: 600

    &--winner
        scale: 1.2
        box-shadow: 0px 0px 50px 5px rgba(31,84,23,0.9)