.card
    min-width: 260px

    &__header
        padding-bottom: 24px

    &__table
        width: 100%
        border-spacing: 12px 6px

    &__table-header
        font-weight: 600
    
    &__table-cell
        max-width: 300px

    &--winner
        scale: 1.1
        box-shadow: 0px 0px 80px 10px yellow