<mat-card class="card" [class.card--winner]="isWinner()" data-test="card">
  <mat-card-header class="card__header">
    <mat-card-title>{{ properties().name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table class="card__table">
      <tr>
        <td class="card__table-header">Birth year</td>
        <td>{{ properties().birth_year }}</td>
      </tr>
      <tr>
        <td class="card__table-header">Gender</td>
        <td>{{ properties().gender }}</td>
      </tr>
      <tr>
        <td class="card__table-header">Height</td>
        <td>{{ properties().height }}</td>
      </tr>
      <tr>
        <td class="card__table-header">Mass</td>
        <td>{{ properties().mass }}</td>
      </tr>
      <tr>
        <td class="card__table-header">Hair color</td>
        <td>{{ properties().hair_color }}</td>
      </tr>
      <tr>
        <td class="card__table-header">Skin color</td>
        <td>{{ properties().skin_color }}</td>
      </tr>
      <tr>
        <td class="card__table-header">Eye color</td>
        <td>{{ properties().eye_color }}</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
