<mat-card class="card" [class.card--winner]="isWinner()" data-test="card">
  <mat-card-header class="card__header">
    <mat-card-title>{{ properties().name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table class="card__table">
      <ng-container
        *ngTemplateOutlet="isPeopleMode() ? peopleTemplate : starshipTemplate"
      ></ng-container>
    </table>
  </mat-card-content>
</mat-card>

<ng-template #peopleTemplate>
  @if (personProperties(); as properties) {
  <tr>
    <td class="card__table-header">{{ uiTexts.peopleTemplate.birthYear }}</td>
    <td class="card__table-cell">{{ properties.birth_year }}</td>
  </tr>
  <tr>
    <td class="card__table-header">{{ uiTexts.peopleTemplate.gender }}</td>
    <td class="card__table-cell">{{ properties.gender }}</td>
  </tr>
  <tr>
    <td class="card__table-header">{{ uiTexts.peopleTemplate.height }}</td>
    <td class="card__table-cell">{{ properties.height }}</td>
  </tr>
  <tr>
    <td class="card__table-header">{{ uiTexts.peopleTemplate.mass }}</td>
    <td class="card__table-cell">{{ properties.mass }}</td>
  </tr>
  <tr>
    <td class="card__table-header">{{ uiTexts.peopleTemplate.hairColor }}</td>
    <td class="card__table-cell">{{ properties.hair_color }}</td>
  </tr>
  <tr>
    <td class="card__table-header">{{ uiTexts.peopleTemplate.skinColor }}</td>
    <td class="card__table-cell">{{ properties.skin_color }}</td>
  </tr>
  <tr>
    <td class="card__table-header">{{ uiTexts.peopleTemplate.eyeColor }}</td>
    <td class="card__table-cell">{{ properties.eye_color }}</td>
  </tr>
  }
</ng-template>

<ng-template #starshipTemplate>
  @if (starshipProperties(); as properties) {
  <tr>
    <td class="card__table-header">{{ uiTexts.starshipTemplate.model }}</td>
    <td class="card__table-cell">{{ properties.model }}</td>
  </tr>
  <tr>
    <td class="card__table-header">
      {{ uiTexts.starshipTemplate.manufacturer }}
    </td>
    <td class="card__table-cell">{{ properties.manufacturer }}</td>
  </tr>
  <tr>
    <td class="card__table-header">
      {{ uiTexts.starshipTemplate.costInCredits }}
    </td>
    <td class="card__table-cell">{{ properties.cost_in_credits }}</td>
  </tr>
  <tr>
    <td class="card__table-header">{{ uiTexts.starshipTemplate.length }}</td>
    <td class="card__table-cell">{{ properties.length }}</td>
  </tr>
  <tr>
    <td class="card__table-header">{{ uiTexts.starshipTemplate.maxSpeed }}</td>
    <td class="card__table-cell">{{ properties.max_atmosphering_speed }}</td>
  </tr>
  <tr>
    <td class="card__table-header">{{ uiTexts.starshipTemplate.crew }}</td>
    <td class="card__table-cell">{{ properties.crew }}</td>
  </tr>
  <tr>
    <td class="card__table-header">
      {{ uiTexts.starshipTemplate.passengers }}
    </td>
    <td class="card__table-cell">{{ properties.passengers }}</td>
  </tr>
  <tr>
    <td class="card__table-header">
      {{ uiTexts.starshipTemplate.cargoCapacity }}
    </td>
    <td class="card__table-cell">{{ properties.cargo_capacity }}</td>
  </tr>
  <tr>
    <td class="card__table-header">
      {{ uiTexts.starshipTemplate.consumables }}
    </td>
    <td class="card__table-cell">{{ properties.consumables }}</td>
  </tr>
  <tr>
    <td class="card__table-header">
      {{ uiTexts.starshipTemplate.hyperdriveRating }}
    </td>
    <td class="card__table-cell">{{ properties.hyperdrive_rating }}</td>
  </tr>
  <tr>
    <td class="card__table-header">
      {{ uiTexts.starshipTemplate.starshipClass }}
    </td>
    <td class="card__table-cell">{{ properties.starship_class }}</td>
  </tr>
  }
</ng-template>
